* {
  box-sizing: border-box;
}


body {
  margin: 0px;
}



.navbar {
      position: fixed;
      font-family: Montserrat, sans-serif;
      left: 0;
      background-color: #361061;
      border: none;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.6;
  }

#myNavbar {
  margin-right: 15px;
  font-weight: 700;
}

.navbar .navbar-header a{
  color: #42DC24;
  font-size: 20px;
  font-weight: 800;
}

#myNavbar ul li a {
  color: white;
  text-transform: uppercase;
}

#myNavbar ul li a:hover{
  color: #8BB5F2;
  background: transparent;
}

/* title */
.title {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  color: #361061;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 900;
  font-family: cursive;
  text-shadow: 3px 3px 3px black,
               4px 4px 5px white;
}
