* {
  box-sizing: border-box;
}


body{
  margin: 0px;
  font: 400 15px/1.8 Lato, sans-serif;
}

.navbar {
      font-family: Montserrat, sans-serif;
      margin-left: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
      text-transform: uppercase;
  }

#myNavbar{
  margin-right: 15px;
  font-size: 15px;
  font-weight: 600;
}
