* {
  box-sizing: border-box;
}


body {
  margin: 0px;
  font: 400 15px/1.8 Lato, sans-serif;
}

.navbar {
      font-family: Montserrat, sans-serif;
      margin-left: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }

#myNavbar {
  margin-right: 15px;
  font-weight: 700;
}

.navbar .navbar-header a{
  color: #42DC24;
  font-size: 20px;
  font-weight: 800;
}

#myNavbar ul li a {
  color: #34495E;
  text-transform: uppercase;
}

#myNavbar ul li a:hover{
  color: #8BB5F2;
  font-weight: 900;
}
